


@media screen and (min-width: 576px) and (max-width:768px){

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: 1.2em;
  font-family: sans-serif;
}

body{
   font-family: Arial, Helvetica, sans-serif;
  color: #742305;
}
header {
  
  background-color: #fbf7e3;
  height: fit-content;
  align-items: center;
  text-align: center;
}
nav {
  width: 100%;
  display: flex;
  
 
}



nav ul {
  width: 100%;
  padding: 0;
 
  list-style: none;
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;

}

nav li {
    width: 100px;
    height:30px;
    background-color: #ffdf7f;
    border-radius: 50px;      
    
  } 

nav a {
  text-decoration: none;
  font-size: 0.5em;  
  
}

#shop{
    height: 70px;
    width: 120px;
    text-transform: uppercase;
    position: relative;
}

#shop img {
    width: 30px;
    margin-top: 20px;
    margin-left: -75px;
   
  }
  
li span{
   font-size: 1.9em;
   font-weight: bold;
   margin-left: 10px;
   position: absolute;
   top:23px
  
}

/*-------------------MAIN---------------------*/
.product-card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  


}


.card{
  width: 45%;
  height: 30vh;
  background-color: #fef7e2;
  border-radius: 20%;
  margin-bottom: 3%; /* dovrebbe andare il gap?!*/
  overflow: hidden;

}

.card h6{
  margin: 0;
}
.card p{
  margin: 0;
  font-size: 0.5em;
}

.card img{
  width: 100%;
 height: 60%;
 
}
/* dentro le card*/
.product{
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart{
 text-align: center;
}

.card button{
  width: 60%;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #ffdf7f;
}



/*-------ARTICLE--------*/
article{
  margin: 3.5%;
  display: flex;
  flex-wrap: wrap-reverse;
    
}
article p{
font-size: 0.5em;
}

article .about{
  height: 60vh;
 
}
article .story{
  background-color: #fef7e2;
 
}
article img{
  width: 100%;
}
}